/* Search and Tabs Container */
.search-tabs-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.tabs {
  display: flex;
  gap: 10px;
}

.tab {
  padding: 10px 20px;
  background-color: white;
  border: none;
  border-bottom: 2px solid #ccc;
  cursor: pointer;
  font-size: 16px;
}

.tab:hover,
.tab:focus {
  border-color: #30368a;
}

.tab.active {
  border-bottom: 3px solid #30368a;
  color: #30368a;
  background-color: transparent;
}

/* Search Bar */
.search-container {
  display: flex;
  align-items: center;
}

.search-input {
  padding: 5px;
  font-size: 14px;
  color: black;
  border: 1px solid #686db0;
  border-radius: 5px;
  width: 200px;
}

/* Status Labels */
.status-label {
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  color: white;
}

.status-label.green {
  background-color: #66ba69; /* Lighter Green */
}

.status-label.yellow {
  background-color: #edba0f; /* Orange */
}

.status-label.red {
  background-color: #e36e65; /* Lighter Red */
}

.status-label.purple {
  background-color: #6a71cd; /* Purple */
}

.status-label.blue {
  background-color: #4a90e2; /* Blue */
}

.status-label.grey {
  background-color: #4a90e2; /* Blue */
}

/* Action Buttons */
.action-button {
  background-color: #66ba69; /* Lighter Green */
  color: white;
  border: none;
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.action-button.red {
  background-color: #e36e65; /* Lighter Red */
}

.action-button:hover {
  opacity: 0.8;
}

/* Stacked Buttons (for Buy/Cancel) */
.stacked-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Table */
.requests-table {
  width: 100%;
  border-collapse: collapse;
}

.requests-table th,
.requests-table td {
  text-align: left;
  padding: 10px;
}

.requests-table th {
  background-color: #f0f0f0;
}

.requests-table tr {
  border-bottom: 1px solid #ddd;
}

.requests-table img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}
